*,
*::after,
*::before {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

input,
textarea {
    background-color: #fff;
}

hr {
    border: 0.5px solid #E5E7EB;
}

h2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.09px;
}

.page-title {
    text-align: center;
    color: #475569;

}

.container {
    max-width: 960px;
    min-height: 95vh;
    background-color: #fff;
    margin: 0 auto;
    padding: 32px 18px;
    border-radius: 15px;

}

.input-wrapper {
    margin-top: 20px;
}

.input-wrapper-two-in-one {
    display: flex;
    gap: 32px;
}

.input-wrapper input {
    display: block;
    border-radius: 6px;
    height: 38px;
    width: 300px;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.10), 0px 10px 6px 0px rgba(0, 0, 0, 0.04);
    border: 1px solid #E5E7EB;
    margin-top: 8px;
    padding: 12px 10px;
}

.input-wrapper textarea {
    display: block;
    border-radius: 6px;
    width: 500px;
    height: 100px;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.10), 0px 10px 6px 0px rgba(0, 0, 0, 0.04);
    border: 1px solid #E5E7EB;
    margin-top: 8px;
    padding: 6px 10px;
}

.input-wrapper .text {
    color: #6B7280;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.075px;
}

.input-wrapper label {
    color: #475569;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.075px;
}

.input-wrapper select {
    padding: 10px 16px;
    width: 300px;
    display: block;
    border-radius: 8px;
    border: 1px solid #E5E7EB;
    background: #FFF;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.10), 0px 10px 6px 0px rgba(0, 0, 0, 0.04);
    margin-top: 8px;
}

.submit-wrapper {
    display: flex;
    justify-content: end;
}

.submit-wrapper input {
    display: flex;
    padding: 14px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #3B82F6;
    color: var(--white-white, #FFF);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.075px;
    border: none;
}

.submit-wrapper input:hover {
    background-color: #2563EB;
    cursor: pointer;
}

#submitBtn:disabled {
    background-color: #93C5FD;
    cursor: unset;
}

.form h2 {
    margin-top: 50px;
}

#duration,
#rate {
    display: none;
}

.result-text {
    font-weight: bold;
    font-style: italic;
}



.cheque {
    color: #475569;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.075px;
}

.cheque .elemResult {
    margin-top: 16px;
    margin-bottom: 5px;
    font-weight: bold;
    font-style: italic;
}